@import "./reset";

%btn-styles {
	color: #fff;
	padding: 1.5rem 3rem;
	font-size: 2rem;
	text-transform: uppercase;
	text-decoration: none;
	background-color: lighten(blue, 18%);
	transition: 0.2s;
	cursor: pointer;
}

@mixin btn-psuedo-styles {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: lighten(blue, 18%);
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.5s;
		transform: translateX(-101%);
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		background-color: lighten(blue, 18%);
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.5s;
		transform: translateX(101%);
	}

	&:hover:before,
	&:hover:after {
		transform: translateX(0);
	}
}

html {
	@media (max-width: 740px) {
		font-size: 55%;
	}

	@media (max-width: 450px) {
		font-size: 50%;
	}
}

body {
	background-color: #fff;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading__primary {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: fantasy;
	font-size: 5rem;
	font-weight: 500;
	color: lighten(blue, 18%);
}

.btn {
	@extend %btn-styles;

	&:hover {
		animation: shake 0.175s linear 1;
	}
}

.overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.7);

	&__content {
		position: relative;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -30%);

		width: 100%;
		max-width: 40rem;
		height: 35rem;
		padding: 4rem;
		box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.7);
		background-color: #fff;

		display: flex;
		// justify-content: space-around;
		align-items: center;
		flex-direction: column;
		gap: 2rem;

		opacity: 0;

		animation: fadeIn 0.5s ease-in-out forwards;

		&-heading {
			font-size: 4.5rem;
			font-family: fantasy;
			color: lighten(blue, 18%);
		}

		&-text {
			font-size: 1.8rem;
			font-style: italic;
			text-align: center;
			line-height: 1.7;
			margin-top: 4.5rem;
		}

		&-btn {
			position: absolute;
			top: 0.5rem;
			right: 1rem;
			color: #222;
			font-size: 3rem;
			cursor: pointer;
		}

		&-btns {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-top: 3rem;
		}

		&-btn1,
		&-btn2 {
			&:link,
			&:visited {
				@include btn-psuedo-styles;
				@extend %btn-styles;
				position: relative;
				background-color: transparent;
				color: lighten(blue, 18%);
				overflow: hidden;
				transition: color 0.5s;
			}

			&:hover,
			&:active {
				color: #fff;
			}
		}
	}
}

.overlay.show {
	display: block;
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(-0.4rem);
	}

	50% {
		transform: translateX(0.4rem);
	}
}

@keyframes fadeIn {
	to {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		opacity: 1;
	}
}
